
.C {
    background-color: red;
}

.D {
    background-color: orange;
}

.E {
    background-color: yellow;
}

.F {
    background-color: green;
}

.G {
    background-color: blue;
}

.A {
    background-color: indigo;
}

.B {
    background-color: violet;
}
